.content-container {
  display: flex;
  align-items: center;
}

.image-box {
  width: 70%;
  height: 550px;
  background-color: #09141d;
  border-radius: 6px;
  position: relative;
  margin-top: 5%;
}

#project-img-left {
  width: 85%;
  height: 85%;
  border-radius: 6px;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.text-box-left {
  width: 25%;
  height: 85%;
}

.text-box-left h3 {
  font-family: "Raleway-Regular";
  font-size: 36px;
  color: #f2fffd;
  margin-bottom: 25px;
  margin-top: 40px;
}

.text-box-left p {
  font-family: "Raleway-Regular";
  font-size: 20px;
  color: #f2fffd;
  margin-bottom: 60px;
}

#project-img-right {
  width: 85%;
  height: 85%;
  border-radius: 6px;
  position: absolute;
  bottom: 3%;
  left: 3%;
}

.text-box-right {
  width: 25%;
  height: 85%;
  text-align: right;
}

.text-box-right h3 {
  font-family: "Raleway-Regular";
  font-size: 36px;
  color: #f2fffd;
  margin-bottom: 25px;
  margin-top: 40px;
}

.text-box-right p {
  font-family: "Raleway-Regular";
  font-size: 20px;
  color: #f2fffd;
  margin-bottom: 60px;
}
