.section-header {
  margin-top: 15%;
  padding-top: 10%;
  margin-left: 9rem;
}

.section-header h3 {
  display: inline;
  padding: 10px 12px;
}

.fade-in {
  opacity: 0;
  transform: translateY(7vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}

.fade-in.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
