@font-face {
  font-family: "Cairo-Regular";
  src: url("fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("fonts/Raleway-Thin.ttf");
}

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #020c14;
  height: 100%;
}

.home-navbar {
  padding-left: 24px;
  background-color: #09141d;
  display: flex;
  width: 100%;
  height: 70px;
  top: 0;
  position: fixed;
  z-index: 1;
}

.home-navbar ul {
  display: flex;
  list-style: none;
  width: 85%;
  justify-content: flex-start;
}

.home-navbar ul li {
  margin: 6px 5rem;
}

.home-navbar ul li a {
  color: #f2fffd;
  font-size: 16px;
  font-family: "Cairo-Regular";
  text-decoration: none;
}

.home-navbar a:hover {
  color: #2ca796;
}

.logo-navbar {
  display: flex;
  align-items: center;
  width: 15%;
}

.logo-navbar a {
  width: 25px;
  margin: 6px 1rem;
}

.logo-navbar svg:hover path {
  fill: #2ca796;
}

.home-resume {
  margin-top: 15%;
  margin-left: 9rem;
  font-family: "Raleway-Regular";
  font-size: 20px;
  color: #f2fffd;
}

.home-resume h1,
h3,
p {
  margin: 0;
}

h1 {
  font-family: "Raleway-Bold";
  font-size: 96px;
  color: #f2fffd;
}

h3 {
  font-family: "Cairo-Regular";
  font-size: 36px;
  color: #f2fffd;
}

.resume-text {
  margin-top: 50px;
  margin-bottom: 35px;
  width: 55%;
}

p {
  font-family: "Cairo-Regular";
  font-size: 20px;
  color: #f2fffd;
}

.about-me-text {
  width: 60%;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 9rem;
}

#personal-photo {
  width: 30%;
}

.coming-soon {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
